/* delete modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-open {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    align-self: center;
}

.delete-modal {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    padding: 32px 32px 24px;
    width: 400px;
    height: 188px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.delete-modal .cancel {
    color: #aaaaaa;
    float: right;
    font-weight: bold;
}

.delete-modal .cancel:hover,
.delete-modal .cancel:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.delete-modal img {
    width: 24px;
    height: 24px;
    align-items: flex-start;
}

.modal-content button {
    padding: 5px 16px;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #D9D9D9;
}

.task-modal {
    position: relative;
    width: 567px;
    height: 302.5px;
    background: #FFFFFF;
}

.task-modal input {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
}
